<nav
  class="navbar navbar-light bg-light justify-content-between row margin-bottom "
>
  <a class="navbar-brand hidden-sm-down hidden-xs-down col">
    {{ "RECIPES.TITLE" | translate }}</a
  >
  <div class="col">
    <form [formGroup]="pruebaForm" class="form-inline">
      <app-custom-input
        [myLabel]="'Label de mi input'"
        [formControl]="searchTerm"
        name="searchValue"
      ></app-custom-input>
      <!-- <input class="form-control my-0 py-1 w-100" [formControl]="searchTerm" type="search" placeholder="Search" aria-label="Search"/> -->
    </form>
  </div>
</nav>
