<div id="scroll-list" class="search-results main-container margin-5" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
  [scrollWindow]="false">
  <div *ngIf="!recipes.length" class="center">
    <div class="margin-bottom">
      {{"RECIPES.NO_RECIPES" | translate}}
    </div>
    <i class="fa fa-frown-o font-size-sad" aria-hidden="true"></i>
  </div>
  <div *ngIf="recipes.length">
    <div *ngFor="let recipe of recipes" class="card card-style">
      <div class="card-body" class="row no-gutters d-flex justify-content-left align-items">
        <div>
          <img class="img" [src]="recipe.thumbnail ? recipe.thumbnail: 'http://img.recipepuppy.com/9.jpg'" class="img" alt="Recipe image" />
        </div>
        <div class="p-3 w-75">
          <h5 class="card-title underline">{{recipe.title}}</h5>
          <p class="card-text orange-border">
            <span class="bold">
                {{ "RECIPES.INGREDIENTS" | translate }}:
            </span> {{ recipe.ingredients }} </p>
        </div>
      </div>
    </div>
  </div>


</div>
