.search-results {
  height: 800px;
  overflow: scroll;
}


.bold {
  font-weight: bold;
}

.align-items {
  align-items: center;
}

.img {
  width: 80px;
}

@media (min-width: 1024px) { //Scroll in tablets
  .search-results {
    height: 950px;
    overflow: scroll;
  }
}

@media (max-width: 320px) { //Iphone 5
  .img {
    width: 70px;
  }
}

@media (min-width: 576px) { // Tablets and desktop devices
  .margin-5 {
    margin:5%;
  }

  .underline {
    text-decoration: underline;
  }
}


@media (max-width: 575.98px) { //Small devices (smartphones)
  .col {
    margin:3%;
  }

  .w-100 {
    width: 100%;
  }

  .main-container {
    width: 90%;
    margin:5%;
  }

  .card-style {
    margin-bottom: 5%;
    border-radius:8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }

  .orange-border {
    border-top:1px solid orange;
  }

}
