<div class="input-group md-form form-sm form-1 pl-0">
  <div class="input-group-prepend">
    <span class="input-group-text cyan lighten-2" id="basic-text1"><i class="fas fa-search text-white"
        aria-hidden="true"></i></span>
  </div>
  <input class="form-control my-0 py-1" [formControl]="searchTerm" type="text" placeholder="Search" aria-label="Search">
</div>


<ul class="list-unstyled">
  <li *ngFor="let recipe of recipes" class="media my-4">
    <img [src]="recipe.thumbnail" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{recipe.title}}</h5>
        {{'RECIPES.INGREDIENTS' | translate}}: {{recipe.ingredients}}
    </div>
  </li>
</ul>
